@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  box-sizing: border-box;
}

.container {
  width: 500px;
}
h1,
h2,
p {
  text-align: center;
}

.buttons-container{
  display: inline;
  display: flex;
  justify-content: center;
}

.btn-danger {
  margin-left: 40px;
}